
doctype html
html(lang="en")
  head
    title Socket.IO chat on App Engine
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0")
    style.
      * { margin: 0; padding: 0; box-sizing: border-box; }
      body { font: 16px Helvetica, Arial; }
      form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
      form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; font-size: 100% }
      form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
      .good button {
          font-size: 2rem;
          padding: 2rem;
      }
  //- [START appengine_websockets_form]
  body
    .wrap
      .good
        button
          | 😆
        button
          | 🙆
        button
          | 💖
        button
          | 👍
        button
          | 🐱
        button
          | ❗
    form(action="")
      input(id="m" autocomplete="off")
      button Send
    //- [END appengine_websockets_form]

    script(src="/socket.io/socket.io.js")
    script(src="https://code.jquery.com/jquery-1.11.1.js")
    script.
      // [START appengine_websockets_js]
      $(function () {
        var socket = io();
        $('form').submit(function(){
          socket.emit('chat message', {id:socket.id, message: $('#m').val()} );
          $('#m').val('');
          $('#m')[0].focus()
          return false;
        });
        $(".good button").on("click", function () {
          socket.emit('good emitted', {id: socket.id, text: this.innerText});
          return false;
        })

      });



      


      // [END appengine_websockets_js]
//- [END appengine_websockets_index]

